
<div style="display:grid; grid-template-columns: 65px auto; align-items:center">
    <img src="../favicon.png" style="width:56px">
    <h3>Salle de discussions</h3>
</div>
<hr />
<div class="main">
        <div class="chatListContainer" id="chatListContainer" title="Cliquez sur un de vos amis pour clavarder avec lui..."></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/NotificationsHandler")

<script defer>
        let ChatLogRefresh = new PartialRefresh("@Url.Action("GetFullChatLog")", "chatListContainer", 5, CallbackChatLog);
        function CallbackChatLog() {
            $(".delete_message").click(
                function () {
                    let messageId = this.id.split('_')[1];
                    ChatLogRefresh.confirmedCommand(this.title + ' ?', "@Url.Action("Delete")" + "?id=" + messageId);
                });
        }
</script>
}

