@model IEnumerable<ChatManager.Models.Friendship>
@{
    int idFriend = -1;
    if (Session["idFriendChat"] != null)
    {
        idFriend = (int)Session["idFriendChat"];
    }

    foreach (ChatManager.Models.Friendship item in Model)
    {
        string userContainer = "unselectedTarget";
        if (idFriend == item.IdFriend) {
            userContainer = "selectedTarget";
        }
        <div class=@userContainer>
            <span id="?idFriend=@item.IdFriend" class="Friend userContainer" style="position: absolute;"></span>
                @Helper.AvatarUserIcon(item.Friend, "UserSmallAvatar")

        </div>
    }
}

