@model IEnumerable<ChatManager.Models.Friendship>

@foreach (ChatManager.Models.Friendship item in Model)
{
    <div id="?idFriend=@item.IdFriend" class="Friend userContainer" style="font-size:14px;">
        @Helper.AvatarUserIcon(item.Friend, "UserSmallAvatar")
    </div>
}

