
<div style="display:grid; grid-template-columns: 65px auto; align-items:center">
    <img src="../favicon.png" style="width:56px">
    <h3>Salle de discussions</h3>
</div>
<hr />
<div style="display: grid; grid-template-columns: 65px auto;">
    <div id="friendList" style="margin: 4px; border: 1px solid lightgray; ">
        a
    </div>
    <div>
        <div id="chatLog" style="margin: 4px; border: 1px solid lightgray; ">
            b
        </div>
        <div id="writingBar" style="margin: 4px; border: 1px solid lightgray;">
            c
        </div>
    </div>
</div>

