
@{
    ViewBag.Title = "ResetPasswordCommandAlert";
}

<h3>Réinitialisation de mot de passe</h3>
<hr />
<h4>Vous allez recevoir un courriel pour procéder à la reinitialisation de votre mot de passe</h4>
